/* src/App.css */

.app-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0B2B52;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .invoice {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .invoice h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .invoice-details, .company-details {
    margin-bottom: 10px;
  }
  
  .footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }